* {
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #33335fb3;
}
.container{
    background-color: #38545492;
    border-radius: 20px;
    width: 50%;
    height: 480px;
    margin: 100px auto;
    padding-top: 20px;
    box-shadow: 5px 5px 20px 5px #000;
}
.content{
    width: 700px;
    box-shadow: 2px 2px 10px 2px #000;
    background-color: #4d4c4c;
    height: 400px;
    margin: 0 auto ;
    border-radius: 15px;
}
h2{
    padding: 18px 18px 28px 28px;
    color: #fddeb9e9;
}
.h2_3{
    padding: 18px 18px 5px 28px;}
form{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top:-16px ;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
form div *{
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
}
form div label{
    margin-left: 10px;
}
form div input{
    width: 50px;
}
form div input:hover{
    cursor: pointer;
}
.btn{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: right;
}
button{
    width: 140px;
    height: 44px;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid #000;
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 34px;
    border-radius: 14px;
    transition: all 0.3s ease-in-out;
}
a{
    text-decoration: none;
    display: block;
    color: #000;
    width: 140px;
    height: 40px;
    padding: 0;
    margin: 0;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
button:hover{
    background-color: #0b1742c3;
}
button:hover a{
    color: #fff;
        letter-spacing: 2px;
        cursor: pointer;
}
.container_score{
    background-color: #38545492;
        border-radius: 10px;
        width: 35%;
        height: 200px;
        margin: 200px auto;
        padding-top: 20px;
        box-shadow: 5px 5px 20px 5px #000;
    }
    #content{
        width: 460px;
        box-shadow: 2px 2px 10px 2px #000;
        background-color: #4d4c4cc7;
        height: 160px;
        margin: 0 auto;
        border-radius: 15px;
        display: none;
}